.footer {
  background-color: black;
  padding: 3rem 0;
  font-style: italic;
}

.footer-items {
  display: flex;
  justify-content: space-between;
}

.footer-items h2 {
  color: white;
  font-weight: 400;
  margin-bottom: 2rem;
}

.footer-items a {
  color: grey;
  text-decoration: none;
  line-height: 2.5;
}

.footer-list {
  display: flex;
  flex-direction: column;
}
