.top-trending {
  margin-bottom: 3rem;
}

.top-trending-header {
  font-style: italic;
}

.top-trending-header p {
  margin-bottom: 0;
}

.top-trending-header h2 {
  margin-top: 0;
}

.top-trending-list {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.top-trending-item {
  flex: 1;
}
